@using PagedList.Mvc
@using OnlineShop.Models

@model PagedList.IPagedList<SanPham>

<div class="row">
    <div class="span12">
        <h4 class="title">
            @if (ViewBag.isNewProduct)
            {
                <span class="pull-left"><span class="text"><span class="line">SẢN PHẨM <strong>MỚI NHẤT</strong></span></span></span>
                
            }
            else
            {
                <span class="pull-left"><span class="text"><span class="line">SẢN PHẨM <strong>CŨ NHẤT</strong></span></span></span>
                
            }


        </h4>
        <div id="myCarousel-2" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">
                        @foreach (var product in Model)
                        {
                            OnlineShopDBEntities db = new OnlineShopDBEntities();
                            var sProduct = db.SanPhamDacBiets.SingleOrDefault(item => item.MaSP == product.MaSP);
                            var price = product.DonGia;
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                            int iComments = product.BinhLuans.Count;
                            <li class="span3">
                                <div class="product-box" style="position: relative; border-radius: 3px;">
                                    <span class="sale_tag"></span>
                                    <p>
                                        <a href="@Url.Action("ProductDetail", "Product", new { id = product.MaSP })">
                                            <img src="~/Assets/images/products/@product.HinhAnh" +".jpg" alt="">
                                        </a>
                                    </p>
                                    <a href="@Url.Action("LoadProductsByMaLoaiSP", "Product", new { @maLoaiSP = product.MaLoaiSP })" class="category">@product.LoaiSanPham.TenLoai</a><br>
                                    <a href="@Url.Action("ProductDetail", "Product", new { id = product.MaSP })" class="title">@product.TenSP <span style="font-size: 11px; line-height: 16px; color: rgb(120, 120, 120);">(@iComments)</span></a><br>
                                    @if (sProduct != null)
                                    {
                                        if (sProduct.GiamGia > 0)
                                        {
                                            <div class="product-box__sale">
                                                <span class="product-box__sale-value">@sProduct.GiamGia%</span>
                                                <span class="product-box__sale__sale-label">GIẢM</span>
                                            </div>
                                            <p class="price text-warning" style="text-decoration:line-through">@String.Format(info, "{0:c}", price)</p>
                                            <p class="price" style="color:red">@String.Format(info, "{0:c}", price - price*sProduct.GiamGia/100)</p>
                                        }
                                        if (sProduct.UuThich)
                                        {
                                            <div class="product-box__favourite">
                                                <i class="fas fa-check"></i>
                                                <span class="">Yêu thích</span>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p class="price text-warning">@String.Format(info, "{0:c}", price)</p>
                                    }

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-box__sale {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 36px;
        border-top-right-radius: 3px;
        background-color: rgba(255,216,64,0.93);
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        padding: 4px 0 3px 0;
    }
    .product-box__sale-value {
        color: #ee4d2d;
    }
    .product-box__sale-label {
        margin: 4px 0px;
        display: block;
        color: var(--white-color);
    }
    .product-box__sale::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        border-width: 0px 20px 5px 20px;
        border-style: solid;
        border-color: transparent rgba(255,216,64,0.93) transparent rgba(255,216,64,0.93);
    }
    .product-box__favourite {
        position: absolute;
        top: 10px;
        left: -5px;
        color: #EE4D2D;
        background-color: #EE4D2D;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        padding-right: 4px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .product-box__favourite span {
        color: white;
    }

    .product-box__favourite::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        border-top: 4px solid #EE4D2D;
        border-left: 4px solid transparent;
        filter: brightness(70%);
    }

    .product-box__favourite i {
        font-size: 0.9rem;
        margin: 0 1px 0 4px;
        color: white;
    }
</style>

